// @import "https://fonts.googleapis.com/css2?family=Tajawal&display=swap";

$mainColor: #FC7E10;

@font-face {
  font-family: coonr;
  src: url("../fonts/CoconNextArabic-Regular.ttf");
}

@font-face {
  font-family: coonl;
  src: url("../fonts/alfont_com_AlFont_com_cocon-next-arabic.ttf");
}

@font-face {
  font-family: coonb;
  src: url("../fonts/CoconNextArabic-Bold.ttf");
}

$mainFont: coonr;
$mainFontb: coonb;
$mainFontl: coonl;

input,
select,
textarea,
button {
  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}

html{
  font-size: 16px;
}

body {
  direction: rtl;
  font-family: $mainFont;
  // height: 4000px;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  width: 100%;
}

.header-wrapper{
  min-height:100vh;
  overflow: hidden;
}
.bg-header{
  background-position: center;
  background-size: cover;
  min-height: 97vh;
  height: auto;
  padding: 30px 0 122px 0;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to left, rgba(#F77F00, .62), rgba(#EE7C03, .42), rgba(#00354D, .50));
  }
  .header-img{
    position: absolute;
    z-index: 2;
    top: 0%;
    left: 0%;
    width: 50%;
  }
  .logo{
    position: relative;
    z-index: 6;
    img{
      width: 200px;
    }
  }
  .content{
    position: relative;
    z-index: 6;
    h5, h6, p{
      color: #fff;
    }
    h5{
      font-size: 3rem;
      font-size: bold;
    }
    h6{
      font-size: 2rem;
      margin-top: 98px;
      line-height: 55px;
    }
    p{
      font-size: 1.1rem;
      margin-top: 20px;
    }
  }
  .download-app{
    margin-top: 45px;
    display: flex;
    align-items: center;
    a{
      display: block;
      margin-left: 20px;
      img{
        width: 198px;
      }
    }
  }
}


.about-content{
  .thcontent{
    padding-top: 50px;
    h5{
      font-size: 2.1rem;
      margin-bottom: 30px;
    }
    p{
      margin-bottom: 30px;
      line-height: 25px;
      font-size: 1rem;
    }
  }
}


.features{
  padding: 33px 0 44px 0;
  background-color: #F5F5F5;
  margin-top: 41px;
  position: relative;
  overflow: hidden;
  .section-header{
    height: 100%;
    h5{
      font-size: 1.1rem;
      margin-bottom: 30px;
    }

  }
  .pizza-img{
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translate(0, -50%);
    img{
      width: 300px;
    }
  }
}
.features-list{
  li{
    margin-bottom: 40px;
    h5{
      font-size: 1.2rem;
      font-family: $mainFontb;
      margin-bottom: 10px;
    }
    &:first-child{
      margin-right: 120px;
    }
    &:nth-child(2){
      margin-right: 50px;
    }
    &:nth-child(4){
      margin-right: 50px;
    }
    &:last-child{
      margin-right: 120px;
    }
  }
}

.screens{
  background-position: center;
  background-size: cover;
  padding: 31px;
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, rgba(#FFFFFF, .73), rgba(#00354D, .94));
  }
  .section-header{
    position: relative;
    text-align: center;
    z-index: 4;
    h5{
      font-size: 1.5rem;
      margin-bottom: 30px;
      color: #00354D;
    }
  }
  img{
    display: block;
  }
  .wrapper{
    position: relative;
    z-index: 4;
    .screens-slider-wrapper{
      width: 80%;
    }
    .logo-screens{
      width: 20%;
      
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translate(0, -50%);
      img{
        margin: auto;
        width: 200px;
      }
    }
  }
}

.download-our-app{
  padding: 50px 0;
  .section-header{
    position: relative;
    text-align: center;
    z-index: 4;
    h5{
      font-size: 1.5rem;
      margin-bottom: 30px;
      color: #00354D;
    }
  }
  .download-our-app-live-preview{
    img{
      width: 60%;
    }

  }

  .download-our-app-live-preview-app{
    margin-top: 250px;
    position: relative;
    .after-img{
      position: absolute;
      top: 50%;
      right: -90px;
      width: 100%;
      transform: translate(0%, -50%);
      z-index: -1;
    }
    h5{
      font-size: 4rem;
      color: #F77F00;
      font-weight: $mainFontb;
      margin-bottom: 15px;
    }
    p{
      font-size: 1.4rem;
      span{
        color: $mainColor
      }
    }
    .down-app{
      display: flex;
      align-items: center;
      img{
        width: 140px;
        margin-left: 20px;
      }
    }
  }
}


@media(max-width: 1024px){
  .features-list li:first-child{
    margin-bottom: 20px;
  }
  .features .pizza-img img{
    opacity: .4;
  }
}

@media(max-width: 991px) {
  html{
    font-size: 14px;
  }
  .bg-header{
    .header-content{
      width: 90%;
    }
  }
  .about-content{
    .about-img{
      img{
        width: 50%;
        display: block;
        margin: auto;
      }
    }
  }
  .features-list li:first-child, .features-list li:nth-child(2), .features-list li:nth-child(4), .features-list li:last-child{
    margin-right: 0;
  }
  .features{
    .feature-img{
      width: 70%;
      margin:20px auto;
    }
  }
  .download-our-app .download-our-app-live-preview img{
    width: 40%;
    margin: auto;
    text-align: center;
    display: block;
  }
  .download-our-app .download-our-app-live-preview-app {
    text-align: center;
  }
  .download-our-app .download-our-app-live-preview-app .after-img{
    right: 0;
  }
  .download-our-app .download-our-app-live-preview-app .down-app{
    justify-content: center;
  }
}

@media(max-width: 600px){
  html{
    font-size: 12px;
  }
  .bg-header .content h6{
    line-height: normal;
    margin-top: 30px;
  }
  .download-our-app .download-our-app-live-preview-app{
    margin-top: 50px;
  }
  .about-content .about-img img{
    width: 90%;
  }
}